@mixin big-desctop {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @mixin table {
    @media (max-width: 992px) {
      @content;
    }
  }

@mixin card-mini {
    flex-direction: column;
    height: 300px;
    position: relative;
}

@mixin slach {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 7px 17px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}



